{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>All Products</title>
{% endblock title %}

{% block content %}
<main id="main category">
    <section class="header-page">
        <div class="container">
            <div class="row">
                <div class="breadcrumb-w col-sm-12">
                    <span>You are here:</span>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            {% if bc_card %} 
                                <span>Business Cards</span>
                            {% elif bs_card %}
                                <span>Business Stationary</span>
                            {% elif lf_card %}
                                <span>Large Format printing</span>
                            {% else %}
                                <span>Marketing Products</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="category-w parten-bg">
        <div class="container">
            <div class="row">
                <aside id="sidebar_cate" class="col-sm-3 hidden-xs" >
                    <h3 class="sidebar-title">Category</h3>
                    <ul id="cate_list" class="cate_list">
                        
                        <li class="level0 parent">
                            <a href="#" title="Business Cards">
                                <span style="color: black;">Business Cards</span>
                                <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                            </a>
                            
                            <ul class="level0">
                                {% for urls_bc_aside,bc_object_aside in bc_aside %}
                                <li class="level1 nav-1-1 first item">
                                    <a href="{{ urls_bc_aside }}" title="Premium Business Cards">
                                        {{ bc_object_aside.Label }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="level0 parent">
                            <a href="#" title="Business Stationary">
                                <span style="color: black;">Business Stationary</span>
                                <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                            </a>

                            <ul class="level0">
                                {% for bs_product in bs_product %}
                                <li class="level1 nav-1-1 first item">
                                    <a href="#" title="Premium Business Cards">
                                        {{ bs_product.Label }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="level0 parent">
                            <a href="#" title="Large Format Printing">
                                <span style="color: black;">Large Format Printing</span>
                                <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                            </a>

                            <ul class="level0">
                                {% for lf_product in lf_product %}
                                <li class="level1 nav-1-1 first item">
                                    <a href="#" title="Premium Business Cards">
                                        {{ lf_product.Label }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="level0 parent">
                            <a href="#" title="Marketing Products">
                                <span style="color: black;">Marketing Products</span>
                                <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                            </a>

                            <ul class="level0">
                                {% for mp_product in mp_product %}
                                <li class="level1 nav-1-1 first item">
                                    <a href="#" title="Premium Business Cards">
                                        {{ mp_product.Label }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="level0 parent">
                            <a href="#" title="Business Cards">
                                <span style="color: black;">All Products</span>
                                <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                            </a>
                            <ul class="level0">
                                {% for bc_product in bc_product %}
                                <li class="level1 nav-1-1 first item">
                                    <a href="#" title="Premium Business Cards">
                                        {{ bc_product.Label }}
                                    </a>
                                </li>
                                {% endfor %}
                                {% for bs_product in bs_product %}
                                <li class="level1 nav-1-1 first item">
                                    <a href="#" title="Premium Business Cards">
                                        {{ bs_product.Label }}
                                    </a>
                                </li>
                                {% endfor %}
                                {% for lf_product in lf_product %}
                                <li class="level1 nav-1-1 first item">
                                    <a href="#" title="Premium Business Cards">
                                        {{ lf_product.Label }}
                                    </a>
                                </li>
                                {% endfor %}
                                {% for mp_product in mp_product %}
                                <li class="level1 nav-1-1 first item">
                                    <a href="#" title="Premium Business Cards">
                                        {{ mp_product.Label }}
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </li>
                    </ul>
                    <div class="category-left-banner">
                        <a href="#" title="category left banner">
                            <img src="{% static 'images/banner/category/left-banner.jpg' %}" alt="Left banner">
                        </a>
                    </div>
                </aside>
                <!--Category product grid : Begin -->
                <section class="category grid col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 category-image visible-md visible-lg">
                            <a href="#" title="category image">
                                <img src="{% static 'images/banner/category/top-business-card-large.jpg' %}" alt="Business card">
                            </a>
                        </div>
                        <div class="col-xs-12 category-image visible-sm">
                            <a href="#" title="category image">
                                <img src="{% static 'images/banner/category/top-business-card-medium.jpg' %}" alt="Business card">
                            </a>
                        </div>
                        <div class="col-xs-12 category-image visible-xs">
                            <a href="#" title="category image">
                                <img src="{% static 'images/banner/category/top-business-card-small.jpg' %}" alt="Business card">
                            </a>
                        </div>
                    </div>

                    {% if bc_card  %}
                        <div class="row products-grid category-product">
                            {% for urls_bc,bc_object in bc_list %}
                            <ul>
                                <li class="pro-item col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-image-action">
                                        <img  src="{{ bc_object.image1 }}"
                                            alt="{{ bc_object.Label }}">
                                        <div class="action" style="padding-left: 22%;">
                                            <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Quickview" class="add-to-cart gbtn" title="Quickview">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="{{ urls_bc }}" title="product" class="product-name">{{ bc_object.Label }}</a>
                                        <div class="price-box">
                                            <span class="normal-price">View Pricing</span>
                                        </div>
                                        <div class="rating-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                    </div>
                                </li>

                            </ul>
                            {% endfor %}
                        </div>
                    {% elif bs_card %}
                        <div class="row products-grid category-product">
                            {% for bs_product in bs_product %}
                            <ul>
                                <li class="pro-item col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-image-action">
                                        <img src="{{ bs_product.image1 }}"
                                            alt="{{ bs_product.Label }}">
                                        <div class="action" style="padding-left: 22%;">
                                            <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Quickview" class="add-to-cart gbtn" title="Quickview">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="detail.html" title="product" class="product-name">{{ bs_product.Label }}</a>
                                        <div class="price-box">
                                            <span class="normal-price">View Pricing</span>
                                        </div>
                                        <div class="rating-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                    {% elif mp_card %}
                        <div class="row products-grid category-product">

                            {% for mp_product in mp_product %}
                            <ul>
                                <li class="pro-item col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-image-action">
                                        <img  src="{{ mp_product.image1 }}"
                                            alt="{{ mp_product.Label }}">
                                        <div class="action" style="padding-left: 22%;">
                                            <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Quickview" class="add-to-cart gbtn" title="Quickview">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="detail.html" title="product" class="product-name">{{ mp_product.Label }}</a>
                                        <div class="price-box">
                                            <span class="normal-price">View Pricing</span>
                                        </div>
                                        <div class="rating-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                    </div>
                                </li>

                            </ul>
                            {% endfor %}
                        </div>
                    {% elif lf_card %}
                        <div class="row products-grid category-product">
                            {% for lf_product in lf_product %}
                            <ul>
                                <li class="pro-item col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-image-action">
                                        <img src="{{ lf_product.image1 }}"
                                            alt="{{ lf_product.Label }}">
                                        <div class="action" style="padding-left: 22%;">
                                            <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Quickview" class="add-to-cart gbtn" title="Quickview">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="detail.html" title="product" class="product-name">{{ lf_product.Label }}</a>
                                        <div class="price-box">
                                            <span class="normal-price">View Pricing</span>
                                        </div>
                                        <div class="rating-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                    </div>
                                </li>
                                
                            </ul>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="row products-grid category-product">
                            <p>
                                Comming soon
                            </p>
                        </div>
                    {% endif %}
                </section><!-- Category product grid : End -->
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 visible-md visible-lg cate-bottom-banner">
                    <a href="#" title="category bottom banner">
                        <img src="{% static 'images/banner/category/category-bottom-banner-large.jpg' %}" alt="Business card">
                    </a>
                </div>
                <div class="col-sm-12 visible-sm cate-bottom-banner">
                    <a href="#" title="category bottom banner">
                        <img src="{% static 'images/banner/category/category-bottom-banner-medium.jpg' %}" alt="Business card">
                    </a>
                </div>
                <div class="col-xs-12 visible-xs cate-bottom-banner">
                    <a href="#" title="category bottom banner">
                        <img src="{% static 'images/banner/category/category-bottom-banner-small.jpg' %}" alt="Business card">
                    </a>
                </div>
            </div>
        </div>
    </section>
</main><!-- Main Category: End -->
{% endblock content %}
