{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Checkout</title>
{% endblock title %}
{% block extra_css %}
<style>
    ::-webkit-input-placeholder { /* Edge */
        color: red;
      }
      
      :-ms-input-placeholder { /* Internet Explorer */
        color: red;
      }
      
      ::placeholder {
        color: red;
    }
</style>
{% endblock extra_css %}
{% block content %}
<!--Main index : End-->
<main class="main">
    <section class="header-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <h1 class="mh-title">Checkout</h1>
                </div>
                <div class="breadcrumb-w col-sm-9">
                    <span class="hidden-xs">You are here:</span>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <span>Checkout</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="checkout" class="pr-main">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="cart-top">
                    <img alt="Cart top banner" src="{% static 'images/banner/cart/top-banner.jpg' %}">
                </div>
            </div>
            <div class="cart-view-top">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1>Shopping Cart</h1>
                </div>
                {% comment %} <div class="col-md-6 col-sm-6 col-xs-12 right">
                    <h1>Continue Shopping</h1>
                </div> {% endcomment %}
                {% comment %} <div id="login-pane" class="col-md-12 col-sm-12 col-xs-12">
                    <p>Please fill in the fields below to complete your order.<a id="login-modal-trigger" href="#">
                            Already registered? Click here to login.</a></p>
                </div> {% endcomment %}
            </div>


            <div class="onepage">

                <!-- shipping_method -->
                <!-- <div class="col-md-8 col-sm-6 col-xs-12">
                    <div id="right-pane-top" class="col-md-12 col-sm-12 col-xs-12">
                        <div id="shipping_method" class="col-md-6 col-sm-12 col-xs-12">
                            <div class="shipment-pane">
                                <div class="pane round-box">
                                    <h3 class="title">
                                        <span class="icon icon-three">3</span>
                                        Shipping method
                                    </h3>
                                    <div class="pane-inner" style="visibility: visible;">
                                        Select shipment<fieldset id="shipments"><input type="radio" value="1"
                                                id="shipment_id_1" name="virtuemart_shipmentmethod_id"
                                                checked="checked">
                                            <label for="shipment_id_1"><span class="vmshipment"><span
                                                        class="vmshipment_name">Cmsmart</span></span></label>
                                            <br><input type="radio" value="2" id="shipment_id_2"
                                                name="virtuemart_shipmentmethod_id">
                                            <label for="shipment_id_2"><span class="vmshipment"><span
                                                        class="vmshipment_name">Printmart</span></span></label>
                                            <br>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div id="checkfull" class="col-md-8 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- render layout -->

                        <fieldset class="round-box" id="cart-contents">
                            <h3 class="title"><span class="icon fa fa-check"></span>ORDER REVIEWS</h3>
                            <table cellspacing="0" cellpadding="0" border="0" class="cart-summary no-border">
                                <tbody>
                                    <tr clas="top-header">
                                        <th align="left" class="th-name"><strong>Products Name</strong></th>
                                        <th width="10%" class="th-price"><strong>Price</strong></th>
                                        <th width="10%" class="th-tax"><span
                                                class="priceColor2"><strong>Tax</strong></span></th>
                                        <th width="15%" class="th-quanlity"><strong>Discount</strong></th>
                                        <!-- <th width="15%" class="th-discount"><span class="priceColor2">Delivery Charges</span></th>  -->
                                        <th width="15%" align="left" class="th-total th-last"><strong>SubTotal</strong>
                                        </th>
                                    </tr>

                                    <tr valign="top" id="product_row_0"
                                        class="product-detail-row product-detail-last-row sectiontableentry1">
                                        <td align="left" class="pro_name">
                                            <img class="cart-images" style="height:100px; width:100px;"
                                                src="{{ image}}">
                                            <span class="product-name" href="#"><strong> {{ label }} </strong></span>
                                        </td>
                                        <td align="left" class="base-price">
                                            <div class="PricebasePrice vm-display vm-price-value"><span
                                                    class="vm-price-desc"></span><span class="PricebasePrice">
                                                    ${{ invoice }}</span></div>
                                        </td>
                                        <td align="right" class="pro_tax"><span class="priceColor2">
                                                <div class="PricetaxAmount vm-display vm-price-value"><span
                                                        class="vm-price-desc"></span><span class="PricetaxAmount">$
                                                        {{ tax }}</span></div>
                                            </span></td>
                                        <!-- Quantity -->
                                        <td align="left" class="discount-price">
                                            <div class="PricebasePrice vm-display vm-price-value"><span
                                                    class="vm-price-desc"></span><span class="PricebasePrice">-$
                                                    {{ discount }}</span></div>
                                        </td>
                                        <!-- Action delete/refresh -->
                                        <!-- <td align="left" class="product-quanlity action">
                                            <a data-pid="0" href="#" align="middle" title="DUpdate Quantity In Cart"
                                                name="update" class="fa fa-refresh"> </a>
                                            <a data-pid="0" href="#" align="middle" title="Delete Product From Cart"
                                                name="remove" class="fa fa-times-circle"> </a>
                                        </td> -->

                                        <td align="right" id="subtotal_with_tax_0" colspan="0"
                                            class="sub-total td-last"><span class="line-through">
                                                ${{ final_price }}</span></td>
                                    </tr>
                                    <p style="color:red;"><strong> NOTE:</strong></p>
                                    <p>This price is an arbitary, our representative will contact you in <strong
                                            style="color: red">24 Hours</strong> with exact price according to your
                                        extra notes, special request and exact shipping price. Please fill shipping info
                                        so we can contact you.</p>
                                </tbody>
                            </table>
                               

                        </fieldset>

                        <div id="right-pane-bottom">
                            <div class="customer-note">
                                <p class="comment"><strong>Notes and special requests</strong></p>
                                <textarea class="inputbox" rows="1" cols="60" name="customer_note"
                                    id="customer_note_field" style="border: 2px solid #25bce9;"></textarea>
                            </div>
                            <fieldset class="vm-fieldset-tos">
                                <input id="tos" class="terms-of-service" type="checkbox" name="tos" value="1">
                                <span>Click here to read terms of service and check the box to accept
                                    them.<em>*</em></span>
                                <div class="checkout-button-top">
                                    <a href="#" class="vm-button-correct"><span>Confirm Purchase</span></a>
                                </div>
                            </fieldset>
                        </div><!-- right-pane-bottom -->
                        
                    </div>
                    
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div id="div_billto">
                        <div class="pane round-box">
                            <h3 class="title"><span class="icon icon-one">1</span>Shipping Info</h3>
                            <div class="pane-inner">
                                <p style="color: red;"> Your information will not be used for advertisment purposes, as
                                    outlined in our privacy policy.</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                    <ul id="table_billto" class="adminform user-details no-border">
                                        <li class="short">
                                            <div class="field-wrapper">
                                                <label for="company_field" class="company">Company Name: </label>
                                                <br>
                                                <input type="text" maxlength="64" value="Shipment" size="30"
                                                    name="company" id="company_field">
                                            </div>
                                        </li>

                                        <li class="short right">
                                            <div class="field-wrapper">

                                                <label for="email_field" class="email">
                                                    E-Mail:<em>*</em> </label>
                                                <br>
                                                {{ form.Email }}


                                            </div>
                                        </li>

                                        <li class="short">
                                            <div class="field-wrapper">

                                                <label for="title_field" class="title">Title:</label>
                                                <br>

                                                <select style="width: 210px" class="vm-chzn-select" name="title"
                                                    id="title">
                                                    <option selected="selected" value="">-- Select --</option>
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                </select>

                                            </div>
                                        </li>

                                        <li class="short right">
                                            <div class="field-wrapper">
                                                <label for="first_name_field" class="first_name">First Name:</label>
                                                <br>
                                                {{ form.FirstName }}


                                            </div>
                                        </li>

                                        <li class="short">
                                            <div class="field-wrapper">

                                                <label for="middle_name_field" class="middle_name">
                                                    Middle Name: </label>
                                                <br>
                                                <input type="text" maxlength="32" value="" size="30" name="middle_name"
                                                    id="middle_name_field">
                                            </div>
                                        </li>

                                        <li class="short right">
                                            <div class="field-wrapper">

                                                <label for="last_name_field" class="last_name">
                                                    Last Name: </label>
                                                <br>
                                                {{ form.LastName }}

                                            </div>
                                        </li>



                                        <li class="short">
                                            <div class="field-wrapper">

                                                <label for="zip_field" class="zip">
                                                    Zip / Postal Code:<em>*</em> </label>
                                                <br>

                                                <input type="text" maxlength="32" class="required" value="" size="30"
                                                    name="zip" id="zip_field">
                                            </div>
                                        </li>

                                        <li class="short right">
                                            <div class="field-wrapper">

                                                <label class="virtuemart_country_id">
                                                    Country:<em>*</em> </label>
                                                <br>
                                                {{ form.Country }}
                                            </div>
                                        </li>
                                        <li class="short">
                                            <div class="field-wrapper">

                                                <label for="virtuemart_city" class="virtuemart_state_id">
                                                    City:<em>*</em> </label>
                                                <br>
                                                {{ form.City }}

                                            </div>
                                        </li>

                                        <li class="short right">
                                            <div class="field-wrapper">

                                                <label for="virtuemart_state_id_field" class="virtuemart_state_id">
                                                    State / Province / Region:<em>*</em> </label>
                                                <br>
                                                {{ form.Region }}

                                            </div>
                                        </li>

                                        <li class="short">
                                            <div class="field-wrapper">

                                                <label for="phone_1_field" class="phone_1">
                                                    Phone: </label>
                                                <br>
                                                {{ form.Phone }}

                                            </div>
                                        </li>

                                        <li class="short right">
                                            <div class="field-wrapper">

                                                <label for="phone_2_field" class="phone_2">
                                                    Mobile phone: </label>
                                                <br>
                                                {{ form.Mobile }}
                                            </div>
                                        </li>
                                        <li class="long">
                                            <div class="field-wrapper">

                                                <label for="address_1_field" class="address_1">
                                                    Address 1:<em>*</em> </label>
                                                <br>
                                                {{ form.Address }}
                                            </div>
                                        </li>
                                        <li class="long">
                                            <div class="field-wrapper">

                                                <label for="fax_field" class="fax">
                                                    Front side Template: </label>
                                                <br>

                                                {{ form.TemplateOne }}
                                            </div>
                                        </li>
                                        <li class="long">
                                            <div class="field-wrapper">

                                                <label for="fax_field" class="fax">
                                                    Second side Template: </label>
                                                <br>

                                                {{ form.TemplateTwo }}
                                            </div>
                                        </li>
                                        <br>
                                        <input class="btn-readmore" type="submit" value="Place Order">
                                        <br>
                                        <br>
                                    </ul>

                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- Cos 2 -->

                </div>
            </div>
    </section>
</main>
<!--Main index : End-->
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    // form upload
    $('#id_ajax_upload_form').submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if (response.error) {
                    $.each(response.errors, function (name, error) {
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else {
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
 // end
</script>
{% endblock extra_js %}