{% extends 'base.html' %}
{% load static %}

{% block head %}
<title> Home </title>
{% endblock head %}
{% block extra_css %}
<style>
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: #0C0032;
    }

    /* Full-width input fields */
    

    /* When the inputs get focus, do something */

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }
</style>
{% endblock extra_css %}
{% block content %}
<main class="main index">
    <!--Home slider : Begin-->
    <section class="home-slidershow">
        <div class="slide-show">
            <div class="vt-slideshow">
                <ul>
                    <li class="slide1" data-transition="random"><img
                            src="{% static 'images/slider/home/slider1.jpg' %}" alt="" />
                        <div class="tp-caption lfr" data-x="right" data-hoffset="-56" data-y="170" data-start="800"
                            data-speed="2000" data-endspeed="300"><span class="style1"><span
                                    class="textcolor">Flyers</span> & Leaflets</span></div>
                        <div class="tp-caption lfb" data-x="right" data-hoffset="-15" data-y="225" data-start="800"
                            data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Our A5 flyers and leaflets are our bestselling size.<br>
                                This is because they're perfect for potential prospects<br>
                                to carry around and are extremely cost effective. We<br>
                                currently have an offer of 1000 flyers and leaflets<br>
                                for only &pound; 24!
                            </span>
                        </div>
                        <div class="tp-caption lfr" data-x="right" data-hoffset="-315" data-y="375" data-start="1300"
                            data-speed="2000" data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn"
                                href="#">buy now</a></div>
                    </li>
                    <li class="slide2" data-transition="random"><img
                            src="{% static 'images/slider/home/slider2.jpg' %}" alt="" />
                        <div class="tp-caption lfr" data-x="left" data-hoffset="" data-y="170" data-start="800"
                            data-speed="2000" data-endspeed="300"><span class="style1"><span
                                    class="textcolor">Flyers</span> & Leaflets</span></div>
                        <div class="tp-caption lfb" data-x="left" data-hoffset="" data-y="225" data-start="800"
                            data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Our A5 flyers and leaflets are our bestselling size.<br>
                                This is because they're perfect for potential prospects<br>
                                to carry around and are extremely cost effective. We<br>
                                currently have an offer of 1000 flyers and leaflets<br>
                                for only &pound; 24!
                            </span>
                        </div>
                        <div class="tp-caption lfr" data-x="left" data-y="367" data-start="1300" data-speed="2000"
                            data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn" href="#">buy now</a>
                        </div>
                    </li>
                    <li class="slide3" data-transition="random"><img
                            src="{% static 'images/slider/home/slider3.png' %}" alt="" />
                        <div class="tp-caption lft" data-x="left" data-hoffset="" data-y="170" data-start="800"
                            data-speed="2000" data-endspeed="300"><span class="style1"><span
                                    class="textcolor">Flyers</span> & Leaflets</span></div>
                        <div class="tp-caption lfb" data-x="left" data-hoffset="" data-y="225" data-start="800"
                            data-speed="2000" data-endspeed="300">
                            <span class="style2">
                                Our A5 flyers and leaflets are our bestselling size.<br>
                                This is because they're perfect for potential prospects<br>
                                to carry around and are extremely cost effective. We<br>
                                currently have an offer of 1000 flyers and leaflets<br>
                                for only &pound; 24!
                            </span>
                        </div>
                        <div class="tp-caption lfl" data-x="left" data-hoffset="" data-y="365" data-start="1300"
                            data-speed="2000" data-easing="easeInOutQuint" data-endspeed="300"><a class="btn-sn"
                                href="#">buy now</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--Home Category : Begin-->

    <!--Home Trust : Begin-->
    <section class="trust-w hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 block-trust trust-col-quantity">
                    <div class="tr-icon"><i class="fa fa-thumbs-up"></i></div>
                    <div class="tr-text">
                        <h3>No die & plate Charges</h3>
                        <span class="tr-line"></span>
                        <p>Get carefully crafted and exquisite custom prints without any additional costs for tooling.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block-trust trust-col-time-delivery">
                    <div class="tr-icon"><i class="fa fa-paper-plane"></i></div>
                    <div class="tr-text">
                        <h3>Custom Design and Sizes</h3>
                        <span class="tr-line"></span>
                        <p>Choose your own dimensions, size, shape, layout, style, color, artwork and graphics.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block-trust trust-col-eco-minded">
                    <div class="tr-icon"><i class="fa fa-leaf"></i></div>
                    <div class="tr-text">
                        <h3>24 Hours Production</h3>
                        <span class="tr-line"></span>
                        <p>
                            Expect a speedy turnaround by our reliable delivery service on your custom orders.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block-trust trust-col-eco-money">
                    <div class="tr-icon"><i class="fa fa-money"></i></div>
                    <div class="tr-text">
                        <h3>Low Minimum Order</h3>
                        <span class="tr-line"></span>
                        <p>
                            Get best printing services with most affordable prices and wholesale rates on bulk orders.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Home Trust : End-->
    <!--Home Promotions Products : Begin -->
    <section class="home-promotion-product home-product parten-bg">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">Best Selling Products</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <ul class="slider-w slider-owl">
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{% static 'images/product/263x263/1.jpeg' %}" alt="Grouper Business card">
                            <div class="action" style="padding-left: 20%;">
                                <a href="{% url 'Business_Cards:business-card-detail' %}" data-toggle="tooltip" data-placement="top" title="Quickview"
                                    class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                            <a href="{% url 'Business_Cards:business-card-detail' %}" title="product" class="product-name">Business card</a>
                            <div class="price-box">
                                <span class="normal-price">View Pricing</span>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{% static 'images/product/263x263/boxes.jpeg' %}" alt="New Brochures">
                            <div class="action" style="padding-left: 20%;">
                                <a href="{% url 'boxes:cosmetics-boxes-detail' %}" data-toggle="tooltip" data-placement="top" title="Quickview"
                                    class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="{% url 'boxes:cosmetics-boxes-detail' %}" title="product" class="product-name">Cosmetics Boxes</a>
                            <div class="price-box">
                                <span class="normal-price">View Pricing</span>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{% static 'images/product/263x263/postcard.jpeg' %}" alt="Flyers Two Page">
                            <div class="action" style="padding-left: 20%;">
                                <a href="{% url 'Marketing_Products:postcards-detail' %}" data-toggle="tooltip" data-placement="top" title="Quickview"
                                    class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon new-icon">new!</span>
                        </div>
                        <div class="product-info">
                            <a href="{% url 'Marketing_Products:postcards-detail' %}" title="product" class="product-name">Postcard</a>
                            <div class="price-box">
                                <span class="normal-price">View Pricing</span>
                            </div>

                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{% static 'images/product/263x263/flyer.jpeg' %}" alt="Business Card">
                            <div class="action" style="padding-left: 20%;">
                                <a href="{% url 'Marketing_Products:brouchers-flyers-detail' %}" data-toggle="tooltip" data-placement="top" title="Quickview"
                                    class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="{% url 'Marketing_Products:brouchers-flyers-detail' %}" title="product" class="product-name">Flyers</a>
                            <div class="price-box">
                                <span class="normal-price">View Pricing</span>
                            </div>

                        </div>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </section>
    <!--Home Promotions Products : End -->
    <section class="home-make-print">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">Contact Us or Get in touch with Professional</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <!--make print Title : End -->
                <div class="print-content">
                    <div class="col-md-12 col-sm-12 print-block print-block-right">
                        <div class="w-print-book">
                            <div class="print-icon">
                                <i style="font-size: 290%; margin-left: -20px; margin-top: 21px"
                                    class="fa fa-phone"></i>
                            </div>
                            <div class="print-txt">
                                <p style="color:black">Get in touch with our experts to refine your prodcut</p>
                            </div>
                            <div class="print-title">
                                <button class="btn-readmore" type="button" onclick="openForm()">Book a
                                    Call</button>
                            </div>
                            <div class="form-popup" style="z-index: 999;" id="myForm">
                                
                                <form method="POST" class="form-container">
                                    {% csrf_token %}
                                    <h1 style="font-size: 22px; color: white; margin: 5px; font-weight: 700">Book Call with our Professional</h1>

                                    <span style="margin-right: 66%; color: white">Enter Name</span>
                                    <input style="width: 100%;" type="text" name="Name" required id="id_Name">
                                    
                                    <span style="margin-right: 67%; color: white">Enter Email</span>
                                    <input style="width: 100%;" type="email" name="Email" required id="id_Email">
                                    
                                    <span style="margin-right: 40%; color: white">Enter Phone Number</span>
                                    <input style="width: 100%;" type="tel" name="Cell" required id="id_Cell">
                                    
                                    <span style="margin-right: 70%; color: white">Enter Date</span>
                                    <input style="width: 100%;" type="date" name="Date" required id="id_Date">
                                    
                                    <span style="margin-right: 69%; color: white">Enter Time</span>
                                    <input style="width: 100%;" type="time" name="Time" required id="id_Time">
                                    <br>
                                    <br>
                                    <button type="submit" class="btn">Submit</button>
                                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>




    <!--Home Promotions Products : Begin -->
    <!-- <section class="home-promotion-product home-product parten-bg">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">Popular Products</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <ul class="slider-w slider-owl">
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{% static 'images/product/263x263/1.jpeg' %}" alt="Grouper Business card">
                            <div class="action" style="padding-left: 20%;">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview"
                                    class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon sale-icon">sale!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Business card</a>
                            <div class="price-box">
                                <span class="normal-price">View Pricing</span>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{% static 'images/product/263x263/boxes.jpeg' %}" alt="New Brochures">
                            <div class="action" style="padding-left: 20%;">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview"
                                    class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Packing Boxes</a>
                            <div class="price-box">
                                <span class="normal-price">View Pricing</span>
                            </div>
                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{% static 'images/product/263x263/postcard.jpeg' %}" alt="Flyers Two Page">
                            <div class="action" style="padding-left: 20%;">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview"
                                    class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                            <span class="product-icon new-icon">new!</span>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Postcard</a>
                            <div class="price-box">
                                <span class="normal-price">View Pricing</span>
                            </div>

                        </div>
                    </li>
                    <li class="pro-item">
                        <div class="product-image-action">
                            <img src="{% static 'images/product/263x263/flyer.jpeg' %}" alt="Business Card">
                            <div class="action" style="padding-left: 20%;">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Quickview"
                                    class="quick-view">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="detail.html" title="product" class="product-name">Flyers</a>
                            <div class="price-box">
                                <span class="normal-price">View Pricing</span>
                            </div>

                        </div>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </section> -->
    <!--Home Promotions Products : End -->



    <!--Home blog : Begin -->

    <!--Home make print : Begin -->
    <section class="home-make-print">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">HOW WE MAKE PRINTING AS EASY</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <!--make print Title : End -->
                <div class="print-content">
                    <div class="col-md-4 col-sm-4 print-block print-block-left">
                        <div class="w-print-block frist">
                            <div class="print-icon">
                                <i class="fa fa-hand-o-up"></i>
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                            <div class="print-title">
                                <a href="#">Select Options</a>
                            </div>
                            <div class="print-number">
                                <span>01</span>
                            </div>
                            <div class="print-txt">
                                <p>Choose options that you want for your prints.We will make you happy with your
                                    choices.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 print-block print-block-center">
                        <div class="w-print-block">
                            <div class="print-icon">
                                <i class="fa fa-file-text-o"></i>
                                <i class="fa fa-arrow-circle-o-up"></i>
                            </div>
                            <div class="print-title">
                                <a href="#">Upload your design</a>
                            </div>
                            <div class="print-number">
                                <span>02</span>
                            </div>
                            <div class="print-txt">
                                <p>Upload your finished design here and we'll print it for you with your choices</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 print-block print-block-right">
                        <div class="w-print-block">
                            <div class="print-icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="print-title">
                                <a href="#">Checkout & Order</a>
                            </div>
                            <div class="print-number">
                                <span>03</span>
                            </div>
                            <div class="print-txt">
                                <p>Checkout and finish your order very easy with one step checkout extension.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_make_print">

        </div>
    </section>
    <!--Home capabilitie : Begin -->


    <div class="block-capabititie-w">
        <!-- <div class="block-capabititie col-md-3 col-sm-3 col-xs-12"> -->
        <div id="myDoughnut"> </div>

        <!-- </div> -->
        <!-- <div class="block-capabititie col-md-3 col-sm-3 col-xs-12"> -->
        <div id="myDoughnut2"> </div>

        <!-- </div> -->
        <!-- <div class="block-capabititie col-md-3 col-sm-3 col-xs-12"> -->
        <div id="myDoughnut3"> </div>

        <!-- </div> -->
        <!-- <div class="block-capabititie col-md-3 col-sm-3 col-xs-12"> -->
        <div id="myDoughnut4"> </div>

        <!-- </div> -->
    </div>

    <!--Home ours service : Begin -->



    <section class="our-service">
        <div class="container">
            <div class="row">
                <div class="block-title-w">
                    <h2 class="block-title">our services</h2>
                    <span class="icon-title">
                        <span></span>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="sub-title">Choose the design path that is right before upload file</span>
                </div>
                <div class="or-service-w">

                    <div class="col-md-6 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="{% static 'images/our_service/graphic_design.jpeg' %}" alt="service-01" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#"><strong> Graphic Design</strong></a>
                        </div>
                        <div class="or-text">
                            <p>
                                let us design your next print project! <a href="{% url 'contact-us' %}"
                                    class="headerfont">Conatct Us</a>
                            </p>
                        </div>
                        <!-- <a href="#" class="btn-readmore order-now">Order now</a> -->
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 or-block">
                        <div class="or-image">
                            <a href="#">
                                <img src="{% static 'images/our_service/custom.jpeg' %}" alt="service-03" />
                            </a>
                        </div>
                        <div class="or-title">
                            <a href="#"><strong>custom prints</strong></a>
                        </div>
                        <div class="or-text">
                            <p style="padding-left: 6%;">
                                we'll bring all your creative ideas to life!
                            </p>
                        </div>
                        <!-- <a href="#" class="btn-readmore order-now">Order now</a> -->
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Home out recent : Begin -->

    <!--Home Testimonials : Begin -->
    <section class="home-testimonial">
        <div class="container">
            <div class="row">
                <div class="tes-block" id="testimonial">
                    <div class="slider-inner">
                        <div class="wrap-item">
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="{% static 'images/testimonials/1.png' %}"
                                                alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The
                                            ideas are also really fresh and new - great work. I cant wait to start work
                                            with it!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="{% static 'images/testimonials/2.png' %}"
                                                alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The
                                            ideas are also really fresh and new - great work. I cant wait to start work
                                            with it!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner">
                                    <div class="image">
                                        <a href="#"><img src="{% static 'images/testimonials/3.png' %}"
                                                alt="terminal-01" /></a>
                                    </div>
                                    <div class="tes-name">
                                        <a href="#">Sam Ibister</a>
                                    </div>
                                    <div class="tes-job">
                                        <span>Web Designe</span>
                                    </div>
                                    <div class="tes-decs">
                                        <p>This PSD is so well organised - the best Ive ever downloaded from here. The
                                            ideas are also really fresh and new - great work. I cant wait to start work
                                            with it!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="bran-block">
                    <div class="item col-md-2 col-sm-4 col-xs-6">
                        <a href="#" class="image">
                            <img src="{% static 'images/brands/1.png' %}" alt="brand-01" />
                        </a>
                    </div>
                    <div class="item col-md-2 col-sm-4 col-xs-6">
                        <a href="#" class="image">
                            <img src="{% static 'images/brands/2.png' %}" alt="brand-02" />
                        </a>
                    </div>
                    <div class="item col-md-2 col-sm-4 col-xs-6">
                        <a href="#" class="image">
                            <img src="{% static 'images/brands/3.png' %}" alt="brand-03" />
                        </a>
                    </div>
                    <div class="item col-md-2 col-sm-4 col-xs-6">
                        <a href="#" class="image">
                            <img src="{% static 'images/brands/4.png' %}" alt="brand-04" />
                        </a>
                    </div>
                    <div class="item col-md-2 col-sm-4 col-xs-6">
                        <a href="#" class="image">
                            <img src="{% static 'images/brands/5.png' %}" alt="brand-05" />
                        </a>
                    </div>
                    <div class="item col-md-2 col-sm-4 col-xs-6">
                        <a href="#" class="image">
                            <img src="{% static 'images/brands/6.png' %}" alt="brand-06" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

{% block extra_js %}
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
<script>
   
</script>
{% endblock extra_js %}