{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	{% block title %}
	<title>BeeDee Printing</title>
	{% endblock title %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
	<meta name="description" content="Printing template">
	<meta name="author" content="Netbase">
	<!--Add css lib-->
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.jscrollpane.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/subscribe-better.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.transitions.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/theme-default.css' %}">


	<link rel="stylesheet" type="text/css" href="{% static 'css/newsletter.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'css/fonts/css8e24.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fonts/css3ad1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fonts/css9fec.css' %}">
	{% block extra_css %}

	{% endblock extra_css %}
</head>

<body>
	<!--Header: Begin-->
	<header>
		<!--Top Header: Begin-->
		<section id="top-header" class="clearfix">
			<div class="container">
				<div class="row">
					<div class="top-links col-lg-7 col-md-6 col-sm-5 col-xs-6">
						<ul>
							<li class="visible-md visible-lg">
								<a href="myaccount-dashboard.html">
									<i class="fa fa-lock"></i>
									<!-- Account -->
								</a>
							</li>
							<li class="visible-md visible-lg">
								<a href="wishlist.html">
									<i class="fa fa-heart"></i>
									<!-- Wishlist -->
								</a>
							</li>
							<li>
								<a href="login.html">
									<i class="fa fa-user"></i>
									<!-- Login -->
								</a>
							</li>
							<li class="hidden-xs">
								<a href="register.html">
									<i class="fa fa-pencil"></i>
									<!-- Sign Up -->
								</a>
							</li>
							<li class="hidden-xs">
								<a href="#">
									<i class="fa fa-facebook"></i>
									<!-- Connect with facebook -->
								</a>
							</li>
							<li class="hidden-xs">
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="hidden-xs">
								<a href="#">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
							<li class="hidden-xs">
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="top-header-right f-right col-lg-5 col-md-6 col-sm-7 col-xs-6">
						<div class="w-header-right">
							<div class="block-currency">
								<div class="currency-active">
									<span class="currency-name">
										currency:<span> usd</span><i class="fa fa-angle-down"></i>

									</span>
								</div>
								<ul>
									<li>
										<a href="#" title="Select currency japan">
											<span>JPY</span>
										</a>
									</li>
									<li>
										<a href="#" title="Select currency japan">
											<span>Euro</span>
										</a>
									</li>
									<li>
										<a href="#" title="Select currency japan">
											<span>Pound St.</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="language-w clearfix">
								<div class="language-active">
									<span class="language-name">Language: <span>English</span><i
											></i>
									</span>
								</div>
							</div>
							<div class="th-hotline">
								<i class="fa fa-phone"></i>
								<span>1.866.614.8002</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Top Header: End-->
		<!--Main Header: Begin-->
		<section class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-2 col-sm-4 col-xs-5 w-logo">
						<div class="logo hd-pd ">
							<a href="index.html">
								<img src="{% static 'images/logo.png' %}" alt="printshop logo">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-8 visible-md visible-lg">
						<nav id="main-menu" class="main-menu clearfix">
							<ul>
								<li class="level0 parent col1 all-product hd-pd">
									<a href="{% url 'all_products' %}"><span>All Products</span><i
											class="fa fa-chevron-down"></i></a>
									<ul class="level0">
										<li class="level1">
											<span class="menu-title">Categories</span>
											<ul class="level1">
												<li class="level2">
													<a href="{% url 'business_card' %}" title="Calendar">Business
														Cards</a>
													<ul class="level2">
														<li><span class="menu-title">Business Cards</span></li>
														<li>
															<a href="detail.html" title="Marketing Materials">Simple
																Business Cards</a>
														</li>
														<li>
															<a href="detail.html" title="Dance Marketing Kit">Edge
																Painted Business Cards</a>
														</li>
														<li>
															<a href="detail.html" title="Event Marketing Kit">Foil
																Business Cards</a>
														</li>
														<li>
															<a href="detail.html" title="Flyers Print">Panton Business
																Cards</a>
														</li>
														<li>
															<a href="detail.html" title="Flyers Product">Plastic
																Business Cards</a>
														</li>
														<li>
															<a href="detail.html" title="The Flyers Printing">Raised Ink
																Business Cards</a>
														</li>
														<li>
															<a href="detail.html" title="Marketing's Card">Raised Spot
																UV Business Cards</a>
														</li>
														<li><img src="{% static 'images/banner/menu/menu-cate-calendar.png' %}"
																alt="Calendar"></li>
													</ul>
												</li>
												<li class="level2">
													<a href="{% url 'business_stationary' %}"
														title="Banners & Signs">Business Stationary</a>
													<ul class="level2">
														<li><span class="menu-title">Business Stationary</span></li>
														<li>
															<a href="detail.html" title="Business Card">Envlopes</a>
														</li>
														<li>
															<a href="detail.html" title="Business Card">Letter Head</a>
														</li>
														<li>
															<a href="detail.html"
																title="Premium Business Card">NotePads</a>
														</li>
														<li><img src="{% static 'images/banner/menu/menu-cate-calendar.png' %}"
																alt="Banners Signs"></li>
													</ul>
												</li>
												<li class="level2">
													<a href="{% url 'large_format' %}" title="Marketing Materials">Large
														Format Printing</a>
													<ul class="level2">
														<li><span class="menu-title">Large Format Printing</span></li>
														<li>
															<a href="detail.html"
																title="Marketing Materials">Banners</a>
														</li>
														<li>
															<a href="detail.html" title="Dance Marketing Kit">Fabric
																Banners</a>
														</li>
														<li>
															<a href="detail.html" title="Event Marketing Kit">Floor
																Sticker</a>
														</li>
														<li>
															<a href="detail.html"
																title="Premium Pricelist Template">Foamcore Posters</a>
														</li>
														<li>
															<a href="detail.html" title="Postcards">Poster Printing</a>
														</li>
														<li>
															<a href="detail.html" title="Postcards Print">Poster
																Printing</a>
														</li>
														<li>
															<a href="detail.html" title="Marketing Postcards">PVC
																Signs</a>
														</li>
														<li>
															<a href="detail.html"
																title="Marketing Postcards Product">Retraceable
																Banners</a>
														</li>
														<li>
															<a href="detail.html" title="Marketing's Card">Table
																Covers</a>
														</li>
														<li><img src="{% static 'images/banner/menu/menu-cate-calendar.png' %}"
																alt="marketing materials"></li>
													</ul>
												</li>
												<li class="level2">
													<a href="{% url 'marketing_products' %}"
														title="Business Stationery & Forms">Marketing Products</a>
													<ul class="level2">
														<li><span class="menu-title">Marketing Products</span></li>
														<li>
															<a href="detail.html"
																title="Marketing Materials">Postcards</a>
														</li>
														<li>
															<a href="detail.html"
																title="Dance Marketing Kit">Calendars</a>
														</li>
														<li>
															<a href="detail.html" title="Event Marketing Kit">Hang
																Tags</a>
														</li>
														<li>
															<a href="detail.html"
																title="Premium Pricelist Template">Labels and
																Stickers</a>
														</li>
														<li>
															<a href="detail.html" title="Postcards">NCR Forms</a>
														</li>
														<li>
															<a href="detail.html" title="Postcards Print">Presentation
																Folders</a>
														</li>
														<li>
															<a href="detail.html" title="Postcards Print">Custom Holiday
																Cards</a>
														</li>
														<li><img src="{% static 'images/banner/menu/menu-cate-calendar.png' %}"
																alt="Business Stationery Forms"></li>
													</ul>
												</li>

												<li class="level2 view-all-pro">
													<a href="{% url 'all_products' %}" title="view all product">View
														all</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="level0 parent col1 hd-pd">
									<a href="#" title="Business Cards">
										<span>Business Cards</span>
										<i class="fa fa-chevron-down"></i>
									</a>
									<ul class="level0">
										<li>
											<a href="detail.html" title="Marketing Materials">Simple Business Cards</a>
										</li>
										<li>
											<a href="detail.html" title="Dance Marketing Kit">Edge Painted Business
												Cards</a>
										</li>
										<li>
											<a href="detail.html" title="Event Marketing Kit">Foil Business Cards</a>
										</li>
										<li>
											<a href="detail.html" title="Flyers Print">Panton Business Cards</a>
										</li>
										<li>
											<a href="detail.html" title="Flyers Product">Plastic Business Cards</a>
										</li>
										<li>
											<a href="detail.html" title="The Flyers Printing">Raised Ink Business
												Cards</a>
										</li>
										<li>
											<a href="detail.html" title="Marketing's Card">Raised Spot UV Business
												Cards</a>
										</li>
									</ul>
								</li>
								<li class="level0 hd-pd">
									<a href="{% url 'marketing_products' %}" title="Marketing">Marketing</a>
								</li>
								<li class="level0 hd-pd">
									<a href="{% url 'order_status' %}" title="Postcards">Order Status</a>
								</li>
								<li class="level0 hd-pd" title="About Us">
									<a href="{% url 'aboutus' %}">About Us</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-sm-1 col-sm-offset-5 col-xs-offset-2 col-xs-2 visible-sm visible-xs mbmenu-icon-w">
						<span class="mbmenu-icon hd-pd">
							<i class="fa fa-bars"></i>
						</span>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 headerCS">
						{% block cart %}
						<div class="cart-w SC-w hd-pd ">
							<span class="mcart-icon dropdowSCIcon">
								<i class="fa fa-shopping-cart"></i>
								<span class="mcart-dd-qty">0</span>
							</span>
							<!-- <div class="mcart-dd-content dropdowSCContent clearfix">
								<div class="mcart-item-w clearfix1">
									<ul>
										<li class="mcart-item">
											<img src="{% static 'images/product/mcart-postcard.jpg' %}"
												alt="postcard cards">
											<div class="mcart-info">
												<a href="detail.html" class="mcart-name">Postcards Cards</a>
												<span class="mcart-qty">1 x </span>
												<span class="mcart-price">$ 10.09</span>
												<span class="mcart-remove-item">
													<i class="fa fa-times-circle"></i>
												</span>
											</div>
										</li>
									</ul>
								</div>

								<div class="mcart-item-w clearfix">
									<ul>
										<li class="mcart-item iteam2">
											<img src="{% static 'images/product/mcart-postcard.jpg' %}"
												alt="postcard cards">
											<div class="mcart-info">
												<a href="detail.html" class="mcart-name">Postcards Cards</a>
												<span class="mcart-qty">1 x </span>
												<span class="mcart-price">$ 10.09</span>
												<span class="mcart-remove-item">
													<i class="fa fa-times-circle"></i>
												</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="mcart-total clearfix">
									<table>
										<tr>
											<td>Sub-Total</td>
											<td>$ 10.09</td>
										</tr>
										<tr>
											<td>Eco Tax (-2.00)</td>
											<td>$ 2.00</td>
										</tr>
										<tr>
											<td>VAT (20%)</td>
											<td>$ 2.018</td>
										</tr>
										<tr class="total">
											<td>Total</td>
											<td>$ 10.108</td>
										</tr>
									</table>
								</div>
								<div class="mcart-links buttons-set clearfix">
									<a href="cart.html" class="gbtn mcart-link-cart">View Cart</a>
									<a href="checkout.html" class="gbtn mcart-link-checkout">Checkout</a>
								</div>
							</div> -->
						</div>
						{% endblock cart %}
						
						<div class="search-w SC-w hd-pd ">
							<span class="search-icon dropdowSCIcon">
								<i class="fa fa-search"></i>
							</span>
							<div class="search-safari">
								<div class="search-form dropdowSCContent">
									<form method="POST" action="#">
										<input type="text" name="search" placeholder="Search" />
										<input type="submit" name="search" value="Search">
										<i class="fa fa-search"></i>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Main Header: End-->
	</header>
	<!--Header: End-->

	<!--Main index : Begin-->
	{% block content %}

	{% endblock content %}
	<!--Footer : Begin-->
	<footer>
		<div class="footer-main">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12 about-us footer-col">
						<h2>About Us</h2>
						<div class="footer-content">
							<a href="index.html" title="Cmsmart logo footer" class="logo-footer">
								<img src="{% static 'images/footer-logo.png' %}" alt="logo footer">
							</a>
							<ul class="info">
								<li>
									<i class="fa fa-home"></i>
									<span>102580 Santa Monica Los Angeles</span>
								</li>
								<li>
									<i class="fa fa-phone"></i>
									<span>+3 045 224 33 12</span>
								</li>
								<li>
									<i class="fa fa-envelope-o"></i>
									<span><a href="mailto:support@netbaseteam.net"
											title="send mail to Cmsmart">Support@beedeePrinting.net</a></span>
								</li>
							</ul>
							<ul class="footer-social">
								<li>
									<a href="#" title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" title="Twiter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" title="Google plus">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 corporate footer-col">
						<h2>Corporate</h2>
						<div class="footer-content">
							<ul>
								<li>
									<a href="about-us.html" title="About us">About</a>
								</li>
								<li>
									<a href="cart.html" title="Green">Green</a>
								</li>
								<li>
									<a href="checkout.html" title="Afiliates">Afiliates</a>
								</li>
								<li>
									<a href="contact.html" title="Non-profits and Government">Non-profits and
										Government</a>
								</li>
								<li>
									<a href="detail.html" title="Terms of Service">Terms of Service</a>
								</li>
								<li>
									<a href="faq.html" title="Privacy Policy">Privacy Policy</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 support footer-col">
						<h2>Support</h2>
						<div class="footer-content">
							<ul>
								<li>
									<a href="#" title="Design Guide">Design Guide</a>
								</li>
								<li>
									<a href="faq.html" title="FAQ">FAQ</a>
								</li>
								<li>
									<a href="#" title="Design Service">Design Services</a>
								</li>
								<li>
									<a href="contact.html" title="Contact Us">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-xs-12 other-info footer-col hidden-sm">
						<h2>Other Info</h2>
						<div class="footer-content">
							<p>
								<strong style="color: #25bce9;">BeeDee Printing</strong> provides fast online printing for both homes and businesses. We provide high
								quality business cards, postcards, flyers, brochures, stationery and other premium
								online print products.
							</p>
							<img src="{% static 'images/footer-payment.png' %}" alt="Payment method">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copy-right">Central - Copyright ©
							<script>document.write(new Date().getFullYear())</script> <a href=""
								title="Cmsmart - Magento theme">Bee Dee Printing</a>. All Rights Reserved
						</p>
						<a href="#" id="back-to-top">
							<i class="fa fa-chevron-up"></i>
							Top
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div id="sitebodyoverlay"></div>
	<nav id="mb-main-menu" class="main-menu">
		<div class="mb-menu-title">
			<h3>Navigation</h3>
			<span id="close-mb-menu">
				<i class="fa fa-times-circle"></i>
			</span>
		</div>
		<ul class="cate_list">
			<li class="level0 parent col1 all-product">
				<a href="#">
					<span>All Product</span>
					<i class="fa fa-chevron-down"></i><i class="fa fa-chevron-right"></i>
				</a>
				<ul class="level0">
					<li class="level1">
						<a href="#" title="Business Card">Business Card</a>
					</li>
					<li class="level1">
						<a href="#" title="Premium Business Card">Business Stationery</a>
					</li>
					<li class="level1">
						<a href="#" title="Free Business Card">Large Format Printing</a>
					</li>
					<li class="level1">
						<a href="#" title="Marketing Materials">Marketing Products</a>
					</li>
					
				</ul>
			</li>
			<li class="level0 parent col1">
				<a href="#" title="Business Cards">
					<span>Business Cards</span>
					<i class="fa fa-chevron-down"></i><i class="fa fa-chevron-right"></i>
				</a>
				<ul class="level0">
					<li class="level1 nav-1-1 first item">
						<a href="#" title="Premium Business Cards">Simple Business Cards</a>
					</li>
					<li class="level1 nav-1-2 item">
						<a href="#" title="Free Business Cards">Edge Painted Business Cards</a>
					</li>
					<li class="level1 nav-1-3 item">
						<a href="#" title="Die-Cut Business Cards">Foil Business Cards</a>
					</li>
					<li class="level1 nav-1-4 item">
						<a href="#" title="Standard Business Cards">Panton Business Cards</a>
					</li>
					<li class="level1 nav-1-5 item">
						<a href="#" class="Personal Business Cards">Plastic Business Cards</a>
					</li>
					<li class="level1 nav-1-6 item">
						<a href="#" title="Business Card Holders">Raised Ink Business Card</a>
					</li>
					<li class="level1 nav-1-7 item">
						<a href="#" title="Networking Cards">Raised Spot Uv Business Card</a>
					</li>
				</ul>
			</li>
			<li class="level0">
				<a href="category_grid.html" title="Marketing">Marketing</a>
			</li>
			<li class="level0">
				<a href="{ url 'get_status' }" title="Postcards">Order Status</a>
			</li>
			<li class="level0">
				<a href="#" title="Stickers & Badges">About US</a>
			</li>
			<li class="level0" title="Promotional">
				<a href="#">Contact US</a>
			</li>
		</ul>
	</nav>
	<!--Add js lib-->
	<script type="text/javascript" src="{% static 'js/jquery/jquery-1.11.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/doughnutit.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slideshow/jquery.themepunch.revolution.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slideshow/jquery.themepunch.plugins.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/theme-home.js' %}"></script>
	{% block extra_js %}

	{% endblock extra_js %}

</body>

</html>