{% extends 'base.html' %}
{% load static %}

{% block title %}
<title> Product detail </title>
{% endblock title %}

{% block extra_css %}
<style>
    .select-css {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: rgb(133, 127, 127);
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #080808;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
            linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }

    .select-css::-ms-expand {
        display: none;
    }

    .select-css:hover {
        border-color: rgb(136, 136, 136);
    }

    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px #3500D3;
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }

    .select-css option {
        font-weight: normal;
        
    }
   
</style>
{% endblock extra_css %}

{% block content %}
<!--Main Product Detail : Begin-->
<main class="main" id="product-detail">
    <!--Breadcrumb : Begin-->
    <section class="header-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <h1 class="mh-title"> {{ label }}</h1>
                </div>
                <div class="breadcrumb-w col-sm-9">
                    <span class="hidden-xs"><strong>You are here:</strong></span>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'large_format' %}">Large Format Printing</a>
                        </li>
                        <li>
                            <span>{{ label }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Breadcrumb : End-->
    <section class="category-w parten-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <aside id="sidebar_cate" class="col-sm-3 hidden-xs">
                        <h3 class="sidebar-title">Category</h3>
                        <ul id="cate_list" class="cate_list">

                            <li class="level0 parent">
                                <a href="#" title="Business Cards">
                                    <span style="color: black;">Business Cards</span>
                                    <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                                </a>

                                <ul class="level0">
                                    {% for urls_bc_aside, bc_object in bc_aside %}
                                    <li class="level1 nav-1-1 first item">
                                        <a href="{{ urls_bc_aside }}" >
                                            {{ bc_object.Label }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="level0 parent">
                                <a href="#" title="Business Stationary">
                                    <span style="color: black;">Business Stationary</span>
                                    <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                                </a>

                                <ul class="level0">
                                    {% for urls_bs_aside, bs_object in bs_aside %}
                                    <li class="level1 nav-1-1 first item">
                                        <a href="{{ urls_bs_aside }}">
                                            {{ bs_object.Label }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="level0 parent">
                                <a href="#" title="Large Format Printing">
                                    <span style="color: black;">Large Format Printing</span>
                                    <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                                </a>

                                <ul class="level0">
                                    {% for urls_lf_aside, lf_object in lf_aside %}
                                    <li class="level1 nav-1-1 first item">
                                        <a href="{{ urls_lf_aside }}">
                                            {{ lf_object.Label }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="level0 parent">
                                <a href="#" title="Marketing Products">
                                    <span style="color: black;">Marketing Products</span>
                                    <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                                </a>

                                <ul class="level0">
                                     {% for urls_mp_aside, mp_object in mp_aside %}
                                    <li class="level1 nav-1-1 first item">
                                        <a href="{{ urls_mp_aside }}">
                                            {{ mp_object.Label }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="level0 parent">
                                <a href="#" title="Business Cards">
                                    <span style="color: black;">All Products</span>
                                    <i class="fa fa-minus"></i><i class="fa fa-plus"></i>
                                </a>
                                <ul class="level0">
                                    {% for bc_product in bc_product %}
                                    <li class="level1 nav-1-1 first item">
                                        <a href="#" title="Premium Business Cards">
                                            {{ bc_product.Label }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% for bs_product in bs_product %}
                                    <li class="level1 nav-1-1 first item">
                                        <a href="#" title="Premium Business Cards">
                                            {{ bs_product.Label }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% for lf_product in lf_product %}
                                    <li class="level1 nav-1-1 first item">
                                        <a href="#" title="Premium Business Cards">
                                            {{ lf_product.Label }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                     {% for urls_mp_aside, mp_object in mp_aside %}
                                    <li class="level1 nav-1-1 first item">
                                        <a href="{{ urls_mp_aside }}">
                                            {{ mp_object.Label }}
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </li>
                        </ul>
                        <div class="category-left-banner">
                            <a href="#" title="category left banner">
                                <img src="{% static 'images/banner/category/left-banner2.jpg' %}" alt="Left banner">
                            </a>
                        </div>
                    </aside>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tab-content clearfix">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="col-md-8 col-md-offset-2 col-xs-12 ideals-w" style="margin-top: 10px;">
                                        <div class="ideal">
                                            <img src="{{ image1.url }}" alt="ideal 1">
                                        </div>
                                        <div class="ideal">
                                            <img src="{{ image2.url }}" alt="ideal 2">
                                        </div>
                                        <div class="ideal">
                                            <img src="{{ image3.url }}" alt="ideal 3">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row" style="width: 75%;">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#features"
                                                        aria-controls="features" role="tab"
                                                        data-toggle="tab"><strong>Description</strong></a></li>
                                                <li role="presentation"><a href="#ideals" aria-controls="ideals"
                                                        role="tab" data-toggle="tab"><strong>Templates</strong></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="tab-content clearfix">
                                            <div role="tabpanel" class="tab-pane active" id="features">
                                                <div class="product-shortdescript v-middle">
                                                    <!-- <div class="col-sm-12 col-xs-12"> -->
                                                    <div
                                                        style="overflow-y: scroll; width:100%; height: 450px; padding:20px;">
                                                        {{ Description |safe }}
                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="ideals">

                                                <div class="paper-des v-middle">
                                                    <div class="col-sm-11 col-sm-offset-1">
                                                        <div class="v-middle">
                                                            <h3>13 pt. Cardstock, Uncoated Paper</h3>
                                                            <ul>
                                                                <li><i class="fa fa-check"></i> Lighter weight uncoated
                                                                    cardstock</li>
                                                                <li><i class="fa fa-check"></i> Requires scoring prior
                                                                    to folding</li>
                                                                <li><i class="fa fa-check"></i> Paper from sustainable
                                                                    sources, 30% recycled content</li>
                                                                <li><i class="fa fa-check"></i> Some natural fibers may
                                                                    be visible</li>
                                                                <li><i class="fa fa-check"></i> Excellent writability
                                                                </li>
                                                                <li><i class="fa fa-check"></i> Recommended for
                                                                    Appointment Cards, Invitations and Note Cards</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-image v-middle">
                                                    <div class="col-sm-12">
                                                        <img src="images/img-paper.png" alt="ideal 1" class="v-middle">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--Add to cart : Begin-->
    <section class="add-to-cart-w">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 product-options">
                    <div class="atc-header">
                        <span class="number">1</span>
                        <h3>Instant Price Calculator</h3>
                    </div>
                    <div class="row">
                        <div class="option-grib-w col-md-12">
                            <div class="scroll-pane horizontal-only">
                                <table>
                                    <tr class="strikeout">
                                        <th>Quantity</th>
                                        <th>Discount</th>
                                        <th rowspan="1"> 6 foot table cover (90" x 132")</th>
                                    </tr>
                                    {% for table in table %}
                                    <tr>
                                        <th>{{ table.Quantity }} </th>
                                        <td>
                                            {% if table.Discount %}
                                            <strong> -${{ table.Discount }} </strong>
                                            {% else %}
                                            ${{ table.Discount }}
                                           {% endif %}
                                        </td>
                                        <td>
                                            {{ table.Ninety_By_One_Three_Two }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <form method="POST" id="product-detail-form">
                        {% csrf_token %}
                        <p><strong>Please select following option according to your need.</strong></p>
                        <div class="options-list-w">
                            <div class="row">
                                <div class="block-options col-md-4 col-sm-5">
                                    <div class="options-col">
                                        <label for="cars">Select Quantity:</label>
                                        <select class="select-css" name="quantity">
                                            {% for menu in menu %}
                                            <option value="{{ menu.Quantity }}">{{ menu.Quantity }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="block-options col-md-4 col-sm-5">
                                    <div class="options-col">
                                        <label for="cars">Select Size:</label>
                                        <select class="select-css" name="size">
                                            <option value="Ninety_By_One_Three_Two"> 6 foot table cover (90" x 132") </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="btn-readmore" type="submit" value="See Quote" >
                    </form>
                    <br>
                    <p style="padding-right:30px;"> Have some special requests?
                        <a href="{% url 'contact-us' %}" class="btn-readmore">Get in touch!</a>
                    </p>
                        <!-- {% comment %} <a href="#" class="btn-readmore" title="Quality Printing"><strong> See Quote </strong></a> {% endcomment %} -->
                    <!-- <div class="add-to-cart">
                        <div class="quantity-price-w row">
                            <div class="price-total col-xs-6">
                                <label>Total:</label>
                                <span class="price">${{ total_price }}</span>
                            </div>
                        </div>
                    </div> -->
                </div>


                <!-- <div class="col-md-12 col-sm-12 upload-add-cart">
                    <div class="row">
                        <div class="upload-file col-md-12 col-sm-12 hidden-xs">
                            <div class="atc-header">
                                <span class="number">2</span>
                                <h3>Get Started</h3>
                            </div>
                            <p class="upload-allow">
                                You can only upload files that are allowed as jpg, jpeg, png...
                            </p>
                            <div class="box-upload">
                                <span class="icon">
                                    <i class="fa fa-file-text-o"></i>
                                    <i class="fa fa-arrow-up border-radius-50"></i>
                                </span>
                                <p>Upload a complete dessign</p>
                                <button type="button" class="btn upload-btn">Get started</button>
                            </div>
                        </div>
                        <div class="add-to-cart col-md-12 col-sm-12 col-xs-12">
                            <div class="atc-header">
                                <span class="number visible-480 visible-xs">2</span>
                                <span class="number hidden-xs">3</span>
                                <h3>Add to cart</h3>
                            </div>
                            <div class="quantity-price-w row">
                                <div class="add-cart-btn-w col-xs-12">
                                    <button type="button" class="add-cart-btn btn">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add To Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!--Add to cart : End-->

    <!-- Product upload file: Begin-->
    <!-- <section class="upload-file-w d-none">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-offset-md-3">
                    <a id="close-upload-popup">
                        <i></i>
                    </a>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Upload File</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                                <input type="file" name="files[]" multiple="">
                            </span>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary start">
                                <span>Upload</span>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary cancel">
                                <span>Cancel</span>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary delete">
                                <span>Delete</span>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" class="toggle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Product upload file: End-->
</main><!-- Main Product Detail: End -->

{% endblock content %}

{% block extra_js %}
<!-- <script type="text/javascript">
    $(document).on('submit', '#product-detail-form', function(e){
        e.preventDefault();
    });
</script> -->
<!-- <script type="text/javascript">
    // form upload
    $('#id_ajax_upload_form').submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if (response.error) {
                    $.each(response.errors, function (name, error) {
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else {
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
</script> -->
{% endblock extra_js %}
